.header{
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  background-color: @primary-color;
  z-index: 2;
  a{
    color: hsla(0,0%,100%,.8);
    font-size: 16px;
    font-weight: bold;
  }
  a:hover{
    color: @white-color;
  }
  a:focus{
    color: @white-color;
  }
  .container{
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    .nav{
      display: flex;
      .logo{
        width: 120px;
        // padding: 3px 20px;
        height: 34px;
        line-height: 34px;
        color: #ccc;
        font-weight: 700;
        // img{
        //   width: 100%;
        //   height: 100%;
        // }
      }
      .router-link-exact-active{
        color: @white-color;
      }
      >ul{
        >li{
          display: inline-block;
          padding: 0 @padding-base * 2;
          color: hsla(0,0%,100%,.8);
          font-size: 16px;
        }
      }
    }
    .extra{
      float: right;
      .user-info{
        display: flex;
        align-items: center;
        .avatar-img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .name{
          color: hsla(0,0%,100%,.8);
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
.content{
  margin-top: 55px;
  min-height: 822px;
  padding: @padding-base * 4;
}
.container{
  width: 960px;
  margin: 0 auto;
  // background-color: @body-background;
}

//base
h1{
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
h4,h5{
  font-size: 14px;
}
h1{
  padding: @padding-base 0 @padding-base * 3;
  word-wrap: break-word;
}
h2,h3,h4{
  color: @title-color;
  padding: @padding-base 0 @padding-base * 2;
  font-weight: bold;
  word-wrap: break-word;
}
p{
  color: @text-color;
  padding-bottom: @padding-base * 2;
  line-height: 1.9;
}
ul{
  margin-bottom: @padding-base * 2
}
ul>li{
  color: @text-color;
  margin-bottom: @padding-base;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
a{
  color: @title-color;
}
// a:visited{
//   color: lighten(@title-color, 20%)
// }
a:hover,a:focus{
  color: @primary-color;
}
//common-li
ul.li-after-cicle{
  li{
    display: inline-block;
  }
  li::after{
    content: '\B7';
    margin: @padding-base;
    color: @text-color;
  }
  li:last-child::after{
    display: none;
  }
}
ul.li-col{
  margin-bottom: 0;
  li{
     margin-bottom: 0;
  }
}
li.after-no::after{
  display: none;
}
//common-border
.border-bottom{
  border-bottom: solid 1px @border-color-split;
}
.border-top{
  border-top: solid 1px @border-color-split;
}
.border-left-no{
  border-left: none!important;
}
//common-flex
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  align-items: center;
}
.flex-sb{
  justify-content: space-between;
}
.flex-allspace{
  flex: 2;
}
//common-float
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix::after{
  content: '.';
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix{
  zoom: 1;
}
//common-icon
.ivu-icon-ios-star-outline{
  color: @text-color;
}
.ivu-icon-ios-star{
  color: @primary-color;
}
// .ivu-icon-thumbsup{
//   color: @text-color;
// }
.ivu-icon-down{
  color: @text-color;
  font-size: 16px;
}
.ivu-icon-up{
  color: @primary-color;
  font-size: 18px;
}
//common-
.ivu-center{
  text-align: center;
}
//commmon-spin
.demo-spin-col{
  padding: 12px 0;
}
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
//common-white
.white-nowrap{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//markdown
.v-note-wrapper{
  min-height: 693px!important;
  max-height: 693px;
  overflow-y: hidden;
  z-index: 2!important;
}